.countdown-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding-top: 100px;
  }
  
  .input-form {
    margin-bottom: 20px;
  }
  
  .input-form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    border-radius: 2px;
  }
  
  .input-form button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white; 
     border-radius: 5px;
     margin-top: 10px;
    
  }
  
  .input-form button:hover {
    background-color: transparent;
    border: 1px solid black; 
     border-radius: 5px;
     color: black;
  }
  
  .error-message {
    color: rgb(130, 28, 130);
    margin-top: 10px;
  }
  
  .countdown-display {
    font-size: 24px;
  }
  
  @media (max-width: 600px) {
    .countdown-container {
      max-width: 300px;
    }
  
    .input-form input[type="datetime-local"] {
      font-size: 14px;
    }
  
    .input-form button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .countdown-display {
      font-size: 20px;
    }
  }
  